# Rust
/src-tauri/target
/src-tauri/gen

# UI
node_modules
/ui/dist
/ui/tsconfig.tsbuildinfo
vite.config.ts.timestamp-*

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# Local secrets
.env
.env.*
!.env.example
